<div class="w3-container">
	<form>
	  <h3>Edit User:</h3>
	    <label>First Name:</label>
	    <input class="w3-input w3-border" type="text" ng-model="fName"  >
	  <br>
	    <label>Last Name:</label>
	    <input class="w3-input w3-border" type="text" ng-model="lName"  >
	  <br>
	    <label>Sex:</label>
	    <input class="w3-input w3-border" type="text" ng-model="Sex" >
	  <br>
	    <label>Password:</label>
	    <input class="w3-input w3-border" type="password" ng-model="passw1" >
	  <br>
	    <label>Repeat:</label>
	    <input class="w3-input w3-border" type="password" ng-model="passw2">
	  <br>
	  <button class="w3-btn w3-green w3-ripple"  ng-click="editUser() ;back()">&#10004; Save Changes</button>
	</form>
</div>
